@model PagedList.PagedList<LinhDGT_Electronic.Models.EF.SanPham>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">*@
<div class="body">
    <div class="body-title-admin">
        <div class="title">Danh sách sản phẩm</div>
        <div class="page-search">
            <input type="text" placeholder="Nhập từ khoá để tìm kiếm..." class="input-search">
            <button class="button-search">
                <img src="~/Content/assets/icon/magnifying-glass-solid.svg" alt="search"
                     width="24">
            </button>
        </div>
        <a class="button-admin-control-create" href="/admin/SanPham/themSanPham">Thêm mới</a>
        <a class="button-admin-control-delete" id="button-delete-all" style="display:flex;justify-content:center;align-items:center"><i class="fa-solid fa-trash"></i></a>
    </div>
    <div class="body-content-admin">
        <div class="table-content">
            <table class="table-body">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="SelectAll"></th>
                        <th>STT</th>
                        <th style="width: 200px;">Tên sản phẩm</th>
                        <th>Ảnh đại diện</th>
                        <th>Năm sản xuất</th>
                        <th>Danh mục</th>
                        <th>Thương hiệu</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Trạng thái</th>
                        <th colspan="2">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        var status = "";

                        foreach (var item in Model)
                        {
                            if (item.SanPhamStatus == 1)
                            {
                                status = "Kích hoạt";
                            }
                            else if (item.SanPhamStatus == 2)
                            {
                                status = "Vô hiệu";
                            }
                            <tr id="row_sanpham_@item.SanPhamID">
                                <td><input type="checkbox" value="@item.SanPhamID"></td>
                                <td>@i</td>
                                <td style="width:200px;overflow-wrap:break-word">@item.SanPhamName</td>
                                <td><img src="~/Content/assets/images/@item.SanPhamImage" width="120" class="imgproduct" data-id="@item.SanPhamID" /></td>
                                <td>@item.SanPhamProducedYear</td>
                                <td>@item.DanhMuc.DanhMucName</td>
                                <td>@item.ThuongHieu.ThuongHieuName</td>
                                <td>@item.SanPhamQuantity.ToString("0,0")</td>
                                <td>@item.SanPhamUnitPrice.ToString("0,0 VNĐ")</td>
                                <td>@status</td>
                                <td style="display:flex; justify-content:center;border:unset"><a class="button-admin-control-edit" href="/admin/sanpham/suasanpham/@item.SanPhamID"><i class="fa-solid fa-pen"></i></a></td>
                                <td style="display:flex; justify-content:center;border:unset"><a data-id="@item.SanPhamID" class="button-admin-control-edit button-delete-sanpham-by-id" style="background-color:red;border-color:red"><i class="fa-solid fa-trash"></i></a></td>
                                <td style="display:flex; justify-content:center;border:unset"><a class="button-admin-control-edit" href="/admin/anhsanpham/index/@item.SanPhamID"><i class="fa-solid fa-image"></i></a></td>
                            </tr>
                            i++;
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="12">Không có bản ghi</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    <div class="body-footer">
        <div style="padding-left:16px;box-sizing:border-box">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>
        <span style="padding-right: 16px;box-sizing:border-box">Trang @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</span>
    </div>

</div>
@*<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>*@
<script>
    $(document).ready(function () {
        $('body').on('click', '#button-delete-all', function (e) {
            e.preventDefault();
            var str = "";
            var checkbox = $(this).parents('.body').find('tr td input:checkbox');
            var i = 0;

            checkbox.each(function () {
                if (this.checked) {
                    checkbox.attr('selected', 'checked');
                    var _id = $(this).val();
                    if (i === 0) {
                        str += _id;
                    }
                    else {
                        str += "," + _id;
                    }
                    i++;
                } else {
                    checkbox.attr('selected', '');

                }
            });
            if (str.length > 0) {
                var conf = confirm("Xoá các bản ghi đã chọn?");
                if (conf === true) {
                    $.ajax({
                        url: '/admin/sanpham/XoaTatCa',
                        type: 'POST',
                        data: { ids: str },
                        success: function (rs) {
                            if (rs.success) {
                                location.reload();
                            }
                        }
                    });
                }
            }
        });
        $('body').on('change', '#SelectAll', function () {

            var checkedStatus = this.checked;
            //alert(checkedStatus);
            var checkbox = $(this).parents('.table-body').find('tr td input:checkbox');
            checkbox.each(function () {
                this.checked = checkedStatus;
                if (this.checked) {
                    checkbox.attr('selected', 'checked');
                } else {
                    checkbox.attr('selected', '');
                }
            });
        });
        $('body').on('click', '.button-delete-sanpham-by-id', function () {
            var id = $(this).data("id");
            var conf = confirm('Xoá bản ghi?');
            if (conf === true) {
                $.ajax({
                    url: '/admin/sanpham/xoasanpham',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            $('#row_sanpham_' + id).remove();
                            location.reload();
                            alert('Đã xoá!');
                        }

                    }
                });
            }
        });
    });
</script>

