@model LinhDGT_Electronic.Models.EF.SanPham
@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="body" style="overflow:auto">
    @using (Html.BeginForm("ThemSanPham", "SanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="body-title-admin">
            <input type="button" value="Thêm thông tin" class="title-change" id="button-themthongtin" />
            <input type="button" value="Thêm hình ảnh" class="title-change" id="button-themanh" />
        </div>
        <div class="body-content-admin" style="padding: 16px">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-mode" id="form-thongtin">
                <div class="item">
                    <label for="">Tên sản phẩm</label>
                    @Html.TextBoxFor(x => x.SanPhamName, new { @class = "input", @placeholder = "Nhập tên sản phẩm...", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.SanPhamName, null, new { @style = "color:red" })
                </div>
                <div class="item">
                    <label for="" style="width:100%">Ảnh đại diện</label>
                    <img src="~/Content/assets/images/h0.png" width="200" id="output" />
                    <label for="ufile" style="cursor:pointer">
                        Chọn ảnh
                    </label>
                    <input type="file" name="SanPhamImage" id="ufile" onchange="uploadFile(event)" style="display:none" />
                    @Html.ValidationMessageFor(x => x.SanPhamImage, null, new { @style = "color:red" })
                </div>
                <div class="item">
                    <label for="">Năm sản xuất</label>
                    @Html.TextBoxFor(x => x.SanPhamProducedYear, new { @class = "input", @placeholder = "Nhập năm sản xuất...", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.SanPhamProducedYear, null, new { @style = "color:red" })
                </div>
                <div class="item">
                    @Html.LabelFor(model => model.DanhMucID, "Danh mục", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownList("DanhMucID", null, htmlAttributes: new { @class = "input" })
                    @Html.ValidationMessageFor(model => model.DanhMucID, "", new { @style = "color:red" })
                </div>
                <div class="item">
                    <label for="">Thương hiệu</label>
                    @Html.DropDownList("ThuongHieuID", null, htmlAttributes: new { @class = "input" })
                    @Html.ValidationMessageFor(model => model.ThuongHieuID, "", new { @style = "color:red" })
                </div>
                <div class="item">
                    <label for="">Số lượng</label>
                    @Html.TextBoxFor(x => x.SanPhamQuantity, new { @class = "input", @placeholder = "Nhập số lượng...", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.SanPhamQuantity, null, new { @style = "color:red" })
                </div>
                <div class="item">
                    <label for="">Đơn giá</label>
                    @Html.TextBoxFor(x => x.SanPhamUnitPrice, new { @class = "input", @placeholder = "Nhập đơn giá...", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.SanPhamUnitPrice, null, new { @style = "color:red" })
                </div>
                <div class="item">
                    <label for="">Trạng thái</label>
                    @{
                        IEnumerable<string> status = new List<string> { "Kích hoạt", "Vô hiệu" };
                    }
                    @Html.DropDownList("status", new SelectList(status, status.FirstOrDefault()), new { @class = "input" })
                </div>
                <div class="item">
                    <label for="" style="width:100%">Mô tả</label>
                    @Html.TextAreaFor(x => x.SanPhamDescription, new { @class = "text-area", @placeholder = "Nhập mô tả...", @id = "text-area-description" })
                    @Html.ValidationMessageFor(x => x.SanPhamDescription, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-mode" id="form-themanh" style="display:none">
                <div class="item">
                    <input type="button" id="iTaiAnh" onclick="BrowerServer();" value="Tải ảnh" />
                </div>
                <div class="item">
                    <table style="border-collapse:collapse;width:100%">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Hình ảnh</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody id="tbTable">
                        
                        </tbody>
                    </table>
                    <input type="hidden" id="tCurrentId" value="0" />
                </div>
            </div>
           
        </div>

        <div class="body-footer" style="justify-content: end; column-gap: 16px;padding-right: 30px">
            <a href="/admin/SanPham/index" class="button-pop-up-footer" style="display:flex;justify-content:center;align-items:center">Quay lại</a>
            <button class="button-pop-up-footer" type="submit">Xác nhận</button>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        CKEDITOR.replace('text-area-description', {
            customConfig: '/content/ckeditor/config.js',
            extraAllowedContent: 'span',
        });
    });
    function BrowerServer(field) {
        var finder = new CKFinder();
        finder.selectActionFunction = function (fileUrl) {
            themAnh(fileUrl);
        };
        finder.popup();
    }
    function themAnh(url) {
        var temp = $("#tCurrentId").val();
        var currentId = parseInt(temp) + 1;
        var str = "";
        if (currentId == 1) {
            str += `<tr id="row_anhsanpham_${currentId}">
                    <td>${currentId}</td>
                    <td><img src="${url}" width="80"> <input type="hidden" value="${url}" name="Images" /></td>
                    <td style="display:flex; justify-content:center;border:unset;align-items:center"><a data-id="${currentId}" class="button-admin-control-edit button-delete-thuonghieu-by-id" style="background-color:red;border-color:red"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>`;
        }
        else {
            str += `<tr id="row_anhsanpham_${currentId}">
                    <td>${currentId}</td>
                    <td><img src="${url}" width="80"> <input type="hidden" value="${url}" name="Images" /></td>
                    <td style="display:flex; justify-content:center;border:unset;align-items:center"><a data-id="${currentId}" class="button-admin-control-edit button-delete-thuonghieu-by-id" style="background-color:red;border-color:red"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>`;
        }
        $('#tbTable').append(str);
        $('#tCurrentId').val(currentId);
        $('#tbTable tr td a').each(function () {
            $(this).click(function () {
                var conf = confirm('Xoá ảnh?');
                if (conf === true) {
                    var _id = $(this).data('id');
                    $('#row_anhsanpham_' + _id).remove();
                    var currentId = parseInt(temp) - 1;
                    $('#tCurrentId').val(currentId);
                }
            });
        });

    }
</script>
<script>
    var uploadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    }
    $("#button-themthongtin").click(function () {
        $("#form-thongtin").show();
        $("#form-themanh").hide();
    })
    $("#button-themanh").click(function () {
        $("#form-themanh").show();
        $("#form-thongtin").hide();
    })
</script>
<script>
    var uploadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0])
    }
</script>
@Scripts.Render("~/bundles/jqueryval")