@model LinhDGT_Electronic.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "body", role = "form" }))
{
    <div class="body-title-admin">
        <div class="title">@ViewBag.Title</div>
    </div>
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="body-content-admin">
        <div class="form-mode">
            <div class="item">
                <label style="width:100%">Mật khẩu cũ</label>

                @Html.PasswordFor(m => m.OldPassword, new { @class = "input", @placeholder = "Nhập mật khẩu cũ..." })

            </div>
            <div class="item">
                <label style="width:100%">Mật khẩu mới</label>

                @Html.PasswordFor(m => m.NewPassword, new { @class = "input", @placeholder = "Nhập mật khẩu mới..." })

            </div>
            <div class="item">
                <label style="width:100%">Xác nhận mật khẩu mới</label>

                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input", @placeholder = "Nhập lại mật khẩu mới" })

            </div>
            <div class="item" style="display:flex;column-gap:10px">
               
                    <input type="submit" value="Xác nhận" class="button-admin-control-create"/>
                    <a href="/home/index" class="button-admin-control-create">Quay lại</a>
               
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}