@model LinhDGT_Electronic.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu?";
}


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "body", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="body-title-admin">
        <h2>@ViewBag.Title</h2>
    </div>
    @Html.ValidationSummary(true)
    <div class="body-content-admin" style="display:flex; flex-direction:column; row-gap:10px;padding:16px">
        <div class="item">
            <h2>Nhập Email của bạn.</h2>
        </div>
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="item" style="display:flex;flex-wrap:wrap">
            @Html.TextBoxFor(m => m.Email, new { @class = "input",@placeholder = "Nhập email..." })
            @Html.ValidationMessageFor(m=>m.Email,null, new {@style = "color:red;margin-top:8px"})
        </div>
        <div class="item" style="border:unset">
            <input type="submit" class="button button-admin-control-create" value="Email Link" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

