@using LinhDGT_Electronic.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Đăng nhập";
}

<div class="page-form">
    <div class="page-form-header">
        <a class="header-logo" href="/home/index">
            <img src="~/Content/assets/images/DLcut.png" width="200" />
        </a>
        <div class="header-title" style="background-color: #F1F4FF">LinhDGT Electronic Đăng nhập</div>
    </div>
    <div class="page-form-content">
        <div class="page-form-left">
            <img src="~/Content/assets/images/DL.png" alt="LinhDGT" sizes="" srcset="" style="width:500px;padding-left:100px; border:1px solid black">
        </div>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "page-form-right", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "")

            <div class="format-form">
                <div class="item" style="background-color:unset;display:flex;justify-content:center;align-items:center">
                    <span style="font-weight:700;font-size: 20px">Đăng nhập</span>
                </div>
                <div class="item">
                    <label>Tài khoản</label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "input", @placeholder = "Nhập email..." })
                    @Html.ValidationMessageFor(m => m.UserName, null, new { @style = "color:red" })
                </div>
                <div class="item">
                    <label for="Password" class="item-label">Mật khẩu</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "input", @placeholder = "Nhập mật khẩu..." })
                    @Html.ValidationMessageFor(m => m.Password, null, new { @style = "color:red" })
                </div>

                <div class="item" style="background-color:unset;display:flex;justify-content:center;align-items:center">
                    <button type="submit" class="button-sign-in-up">Đăng nhập</button>
                    <br />
                    <div class="item" style="display:flex; justify-content:space-between">
                        <span>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </span>
                        <p>
                            @Html.ActionLink("Quên mật khẩu?", "ForgotPassword")
                        </p>
                    </div>

                    <hr style="width: 100%;">

                    <p>
                        Bạn chưa có tài khoản?
                        @Html.ActionLink("Đăng ký ngay", "Register")
                    </p>
                </div>

            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
