@model PagedList.PagedList<LinhDGT_Electronic.Models.EF.SanPham>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Trang chủ";
}
<div class="body">
    <div class="body-title-admin">
        <div class="body-title-admin">
            <div class="title">Trang chủ</div>
            <div class="menu-drop-down">
                <button class="drop-button" style="border-radius:8px">Sắp xếp</button>
                <div class="drop-item">
                    @Html.ActionLink(" Theo giá tiền", "Index", new { sapxep = ViewBag.sapxeptheogia, boloc = ViewBag.boloc}, new { @class = "item",@style = "display:flex;align-items:center;padding-left:8px;box-sizing:border-box" })
                    @Html.ActionLink(" Theo tên sản phẩm", "Index", new { sapxep = ViewBag.sapxeptheoten, boloc = ViewBag.boloc}, new { @class = "item", @style = "display:flex;align-items:center;padding-left:8px;box-sizing:border-box" })
                    @Html.ActionLink(" Theo ngày tạo", "Index", new { sapxep = ViewBag.sapxeptheongaytao, boloc = ViewBag.boloc }, new { @class = "item", @style = "display:flex;align-items:center;padding-left:8px;box-sizing:border-box" })
                    @Html.ActionLink(" Theo năm sản xuất", "Index", new { sapxep = ViewBag.sapxeptheonamsanxuat, boloc = ViewBag.boloc }, new { @class = "item", @style = "display:flex;align-items:center;padding-left:8px;box-sizing:border-box" })
                </div>
            </div>
            @using (Html.BeginForm())
            {
                <div class="page-search">
                    @Html.TextBox("timkiem", ViewBag.boloc as string, new { @class = "input-search", @placeholder = "Nhập từ khoá để tìm kiếm" })
                    <input type="submit" class="button-search" value="Tìm kiếm" />
                </div>
            }
        </div>
    </div>
    <div class="body-content">
        @if (Model != null && Model.Any())
        {

            foreach (var item in Model)
            {
                <div class="item">
                    <div class="item-img">
                        <img src="~/Content/assets/images/@item.SanPhamImage" style="width: 100%; height: 100%;">
                    </div>
                    <div class="item-name">@item.SanPhamName</div>
                    <div class="item-cost">@item.SanPhamUnitPrice.ToString("0,0 VNĐ")</div>
                    <div class="item-control">
                        <a href="/sanpham/chitietsanpham/@item.SanPhamID" class="item-detail tooltip">
                            <i class="fa-solid fa-eye"></i>
                            <span class="tooltiptext">Xem chi tiết</span>
                        </a>
                        <a href="" class="item-shopping-add tooltip btnAddShoppingCart" data-id="@item.SanPhamID">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span class="tooltiptext">Thêm vào giỏ hàng</span>
                        </a>
                    </div>
                </div>
            }
        }

    </div>

    <div class="body-footer">
        <div style="padding-left:16px;box-sizing:border-box">@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sapxep = ViewBag.sapxep, boloc = ViewBag.boloc }))</div>
        <span style="padding-right: 16px;box-sizing:border-box">Trang @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</span>
    </div>

</div>