<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css-handmake")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container-handmake" id="load_data">
        <div class="header">
            <div class="header-left">
                <div class="header-logo">
                    <a href="/home/index"><img src="~/Content/assets/images/DLcut.png" alt="logo" width="200" height="60"></a>
                </div>
            </div>
            <div class="header-right">
                <div class="page-title">LinhDGT Electronic</div>
                @*<div class="page-search">
                        <input type="text" placeholder="Nhập từ khoá tìm kiếm..." class="input-search">
                        <button class="button-search">
                            <img src="~/Content/assets/icon/magnifying-glass-solid.svg" alt="search"
                                 width="24">
                        </button>
                    </div>*@
                <div class="page-header-button">
                    <div class="user-control" style="position:relative">
                        <a class="header-button notice" id="notice"><i class="fa-solid fa-bell"></i></a>
                    </div>
                    <div class="user-control">
                        <a class="header-button category" style="position:relative" href="/giohang">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span id="category_item" class="notice_item">0</span>
                        </a>
                    </div>
                    <div class="user-control">
                        <a class="header-button help">
                            <i class="fa-solid fa-circle-info"></i>

                        </a>
                    </div>
                    <div class="user-control">
                        <button class="header-button user"><i class="fa-solid fa-user"></i></button>
                        <div class="user-control-arrow"></div>
                        <div class="user-control-item">
                            @if (!Request.IsAuthenticated)
                            {
                                <div><i class="fa-solid fa-user-plus"></i>@Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "button-user-control", id = "registerLink", @style = "width:100%;color:#000;display:flex;  text-decoration: none;    text-decoration-color: #000;" })</div>
                                <div><i class="fa-solid fa-right-from-bracket"></i>@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "button-user-control", id = "loginLink", @style = "width:100%;color:#000;display:flex;  text-decoration: none; text-decoration-color: #000;" })</div>
                            }
                            else
                            {
                                <div><span style="width:100%;justify-content:start">Tài khoản: @User.Identity.Name</span></div>
                                <div><a href="" style="width: 100%; justify-content: start">Chỉnh sửa tài khoản</a></div>
                                <div><a href="/donhang/index/@User.Identity.Name" style="width: 100%; justify-content: start">Lịch sử mua hàng</a></div>
                                <div>
                                    <a href="javascript:document.getElementById('logoff').submit()" class="button-user-control" style="width: 100%; justify-content: start">
                                        Đăng xuất <i class="fa-solid fa-right-from-bracket"></i>
                                    </a>
                                </div>
                            }
                        </div>
                        @if (Request.IsAuthenticated)
                        {
                            <div style="display:none">
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logoff" }))
                                {
                                    @Html.AntiForgeryToken();
                                }
                            </div>

                        }

                    </div>

                </div>
            </div>
        </div>

        @RenderBody()
        <div class="footer">
            COPYRIGHT BY LÊ QUANG LINH
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/js/giohang.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
